.success {
  width: 100px;
  margin: 5px;
}

.failed {
  width: 100px;
  margin: 5px;
}

.skillbar {
  margin: 50px;
}

.skillbar {
  display: flex;
  align-items: center;
  height: 100px;
}

.percent {
  display: flex;
  text-align: end;
}
